body
{
	background-color: #444444;
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    letter-spacing: 1px;
    word-spacing: 1px;
	color: #cccccc;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

 /* Add a black background color to the top navigation */
.topnav
{
    background-color: #000000;
    overflow: hidden;
	position:static;
}

/* Style the links inside the navigation bar */
.topnav a
{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover
{
    background-color: #888888;
    color: black;
}

/* Add an active class to highlight the current page */
.active
{
    background-color: #cccccc;
    color: #222222;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon
{
    display: none;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text],input[type=email], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}